
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body{
  background-image: url(http://openvce.net/resources/downloads/openvce-signs-template/OpenVCE-Poster-Gold-Background.jpg);
  background-size: 1550px 18500px;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}
@media screen and (max-width:959px) {
  #container{
    width: 100%;
  }
  #left-column{
  width: 70%;
  }
  #right-cloumn{
    width:70%;
  }
  img{
    width:100px;
  }
}
@media screen and (max-width:640px) {
  #left-column{
    width:100%;
  }
  #right-column{
    width: 100%;
  }
}
@media screen and (max-width:460px) {
  #container{
    width: 300px;
  }
 .item-carousel-fade{
  width: 100%;
 }
 .carousel-inner{
  width:100%;
 }
   #left-column{
    width:100%;
  }
  #right-column{
    width: 100%;
  }
}

/* START NAVBAR */
nav {
  width: 80%;
  margin: 0 auto;
}

nav .menu {
  height: 50px;
  background: #36363f;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  text-align: center; /* center the li */
}

nav .menu li {
  display: inline-block; 
}

nav .menu li a {
  font-family: arial, sans-serif;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  vertical-align: middle;
  padding: 10px;
  transition: all 0.5s;
}

nav .menu li:hover > a {
  background: #25252B;
  transition: all 0.5s;
  color: #ccc;
}

/* sub-menus */

.menu li > ul {
  position: absolute;
  margin-left: -2.21%;
  display: none;
  animation: slide 0.1s linear 0s normal;
}

.menu li > ul > li {
  display: block;
  background: #25252b;
  border-top: 1px solid #25252f;
}

.menu li > ul > li > a {
  display: block;
  padding: 4px 11px;
}

.menu li:hover > ul {
  display: block;
  animation: slide 0.1s linear 0s normal;
}

.menu li:hover > ul li:hover > a {
  background: #18181F;
}



@keyframes slide {
  from  { transform: rotateY(35deg) skewX(10deg); }
  to     { transform: rotateY(0deg) skewX(0deg); }
}
header{
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
  color: #000000;
  font-family: 'Lobster', cursive;

}
section{
  background-color:#363235;
  height:1500px;
  width:960px;
  margin-left: auto;
  margin-right: auto;
  opacity: 5%;
  font-size: 35px;
  color: #A9D8E8;
  border-radius: 7px;
  padding-top:25px;
  padding-bottom:25px;
}
article{
  background-color:#FFFFFF;
  height:1453px;
  width:880px;
  margin-left: auto;
  margin-right: auto;
  color:#000000;
  opacity: 5%;
  font-size: 25px;
  border-radius: 5px;
  padding-top:25px;

  text-align:center;
}
p{
  margin-left: auto;
  margin-right: auto;
  color:#000000;
  font-size: 40px;
  text-align:center;
  font-family: 'Lobster', cursive;
}
p2{
  margin-left: auto;
  margin-right: auto;
  color:#000000;
  font-size: 20px;
  text-align:center;
  font-family: 'Lobster', cursive;
}
p3{
  margin-left: auto;
  margin-right: auto;
  color:#000000;
  font-size: 25px;
  text-align:center;
  font-family: 'Lobster', cursive;
}

.item{
  position:fixed;
  top:0;
  left:0;
  background-size:cover;
  background-repeat: no-repeat; 
  background: white;    
  text-align: center;
  height: 500px !important;
}

.carousel{
    margin-top: 60px;

}

.bs-example{
    margin: 60px;
}

.carousel.carousel-fade .item {
  opacity:0;

   }

.carousel.carousel-fade .active.item {
    opacity:0;
}

  facebook: #3b5998;
  twitter: #4099ff; 
  google: #d34836; 
  dribbble: #c73b6f; 
  pinterest: #c92228;
.share {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

a[data-group=button] {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  transition: all .6s ease;
  cursor: pointer;
  display: inline-block;
  background: #fff;
}

.f-book {
  border: 1px solid #3b5998;
  color: #3b5998;
}

.f-book:hover {
  box-shadow: 0 50px #3b5998 inset;
  color: #fff;
}

.twitter {
  border: 1px solid #4099ff;
  color: #4099ff;
}

.twitter:hover {
  box-shadow: 0 50px #4099ff inset;
  color: #fff;
}

.google {
  border: 1px solid #d34836;
  color: #d34836;
}

.google:hover {
  box-shadow: 0 50px #d34836 inset;
  color: #fff;
}

.dribbble {
  border: 1px solid #c73b6f;
  color: #c73b6f;
}

.dribbble:hover {
  box-shadow: 0 50px #c73b6f inset;
  color: #fff;
}

.pinterest {
  border: 1px solid #c92228;
  color: #c92228;
}

.pinterest:hover {
  box-shadow: 0 50px #c92228 inset;
  color: #fff;
}

.f-book2 {
  border: 1px solid #3b5998;
  color: #3b5998;
}

.f-book2:hover {
  background: #3b5998;
  color: #fff;
  transform: rotateY(360deg);
}

.twitter2 {
  border: 1px solid #4099ff;
  color: #4099ff;
}

.twitter2:hover {
  background: #4099ff;
  color: #fff;
  transform: rotateY(360deg);
}

.google2 {
  border: 1px solid #d34836;
  color: #d34836;
}

.google2:hover {
  background: #d34836;
  color: #fff;
  transform: rotateY(360deg);
}

.dribbble2 {
  border: 1px solid #c73b6f;
  color: #c73b6f;
}

.dribbble2:hover {
  background: #c73b6f;
  color: #fff;
  transform: rotateY(360deg);
}

.pinterest2 {
  border: 1px solid #c92228;
  color: #c92228;
}

.pinterest2:hover {
  background: #c92228;
  color: #fff;
  transform: rotateY(360deg);
}

.persp {
  perspective: 25em;
}
.silver{
  display:inline-block;
}